
#header
{  
    background-image: linear-gradient(to right,#ffa200,#800020);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:70px;
    color:white;
}

#header p {
    font-family: cursive;
}


.detail
{
    border: 1px solid #cacace;
    padding: 30px;
    display: grid;
    place-items: center;
    gap: 5px;
   
}


.detail img
{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}


.tiny-text
{
    font-size: 12px;
    text-align: center;
}
.phone
{
    color: #800020;
    text-align: center;
}

form button {
    background-color: #ffa200;
  border: transparent;
  color: white;
  display: block;
  margin:50px auto 0;
  padding: 10px 20px;
  width: 70%;
  cursor: pointer;
  transition: all ease .3s;
}

form button:hover {
    transform: scale(1.1);
}

.style-form
{
    width: 70%;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #757575;
    border-color: #ccc;
}

.items input, .items textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    padding:5px 20px;
}

.items{
    display: grid;
   place-items: center;
   width: 70%;
   margin: 20px auto
}


.sub-heading
{
    padding-bottom: 40px;
}



.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

@media (max-width:1000px) {
    .style-form {
        width: 60%;
        padding: 20px;
    }

    input {
        padding: 10px;
    }
}

@media (max-width:600px) {
   
    #contact-details {
      margin: 0;
    }
  
    #details {
     display: grid;
     gap:20px;
    }

    #header {
        padding-top: 70px;
    }


    .items {
        width: 100%;
    }

    .details {
        grid-template-columns: 1fr;
        gap:20px;
    }

    .detail {
        border-radius: 10px;
    }

    .style-form {
        width: 100%;
    }
  }

